/*
 bath stone: #E9D294
 lighter: #EFE3C9
 darker: #E8C56F
 */
body {
    font-family: 'Lora', Times, 'Times New Roman', serif;
    background-color: #EFE3C9;
}
header {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #E9D294;
    background-image: url('images/batheaston drawing transparent.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: normal;
    text-shadow: 0px 1px 2px #4d4d4d;
}
header h1 {
    font-size: 3.6em;
    font-weight: normal;
    text-align: center;
}
header h2 {
    font-size: 1.8em;
    margin-bottom: 1.8em;
    font-weight: normal;
}
header a, header a:hover, header a:active, header a:visited {
    text-decoration: none;
    color: black;
}
section {
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 3px solid #E9D294;
}
section:last-child {
    border-bottom: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E9D294;
    padding-left: 2em;
    padding-right: 2em;
}
footer img {
    height: 6em;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content p {
    align-self: flex-start;
    margin-right: 2.4em;
    margin-left: 2.4em;
}
.content ul {
    align-self: flex-start;
    margin-right: 2.4em;
    margin-left: 2.4em;
}
.leader {
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    font-size: 1.2em;
}
/* Navigation */
.nav {
    width: 100%;  
    border-bottom: 3px solid #E9D294;
}
.nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav li {
    line-height: 2em;
    height: 2em;
    padding: 0 2em;
}
.nav a {
    text-decoration: none;
    display: block;
    color: black;
}
.nav a:hover {
    text-decoration: none;
    color: #8f8f8f;
    border-bottom: 3px solid #8f8f8f;
}
.nav a.active {
    cursor: default;
    color: #8f8f8f;
}
.nav a.active:hover {
    text-decoration: none;
    border-bottom: none;
}

/* Gallery */
.impact-gallery {
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
}
.impact-gallery .gallery-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.impact-gallery .gallery-image {
    width: 90%;
}
.gallery-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 3em;
}
.gallery-image img {
    width: 100%;
}
.gallery-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    max-height: 4em;
    overflow-y: hidden;
    transition: max-height 0.2s;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    -ms-transition: max-height 0.2s;
    -o-transition: max-height 0.2s;
}
.gallery-image:hover .gallery-caption {
    max-height: 100%;
}
.gallery-caption h3 {
    margin-left: 2em;
    margin-right: 2em;
}
.gallery-caption p {
    margin-left: 2em;
    margin-right: 2em;
}

section.contact .leader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    margin-left: 0;
    margin-right: 0;
}

section.contact a {
    width: 25%;
    text-decoration: none;
    text-align: center;
}

section.contact a,
section.contact a:visited {
    color: black;
}

section.contact a:hover {
    text-decoration: underline;
    color: #8f8f8f;
}

i.fas, i.fab {
    padding-right: 0.5em;
}

@media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      padding: 0 1em;
    }
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
    .impact-gallery .gallery-image {
        width: 45%;
    }
    
    section.contact .leader {
        flex-direction: row;
    }
}

@media screen and (max-width: 601px), screen and (orientation: portrait) {
    h1 {
        margin-bottom: 0;
    }
    .nav li {
        font-size: 1.5em;
    }
    .impact-gallery .gallery-image {
        width: 90%;
    }
    section.contact .leader {
        flex-direction: column;
    }
    section.contact a {
        width: 100%;
        text-decoration: none;
        text-align: center;
    }
    .leader {
        margin-top: 1em;
    }
}